<footer class="footer">
  <div class="wrap">
    
    <div class="footer-grid">
      
      <div class="footer-col footer-left">
        <img src="{{ site.baseurl }}/assets/img/usach_principal_gris.png" alt="Logo USACH">
      </div>

      <div class="footer-col footer-center">
        <p class="footer-title">Centro de Integración Ingeniería y Sociedad (CIIS)</p>
        <p>Dirección: Av. Víctor Jara #3769 | Oficina 122 | Estación Central, Santiago</p>
        <p>Teléfono: +56 2 2718 4760</p>
        <p>E-mail: <a href="mailto:ciis@usach.cl">ciis@usach.cl</a></p>
      </div>

      <div class="footer-col footer-right">
        <img src="{{ site.baseurl }}/assets/img/usach_secundario_gris.png" alt="Logo Secundario">
      </div>

    </div>

  </div>
</footer>