<header class="topbar">
  <div class="header-inner">

    <div class="brand">
      <img src="{{ site.baseurl }}/assets/img/ciis-image.png" alt="USACH">
    </div>

    <nav class="navwrap">
      <a href="{{ site.baseurl }}/" class="nav-link">HOME</a>
      <a href="{{ site.baseurl }}/quienes-somos" class="nav-link">QUIÉNES SOMOS</a>
      <a href="{{ site.baseurl }}/investigaciones" class="nav-link">INVESTIGACIONES</a>
      <a href="{{ site.baseurl }}/publicaciones" class="nav-link">PUBLICACIONES</a>
      <a href="{{ site.baseurl }}/politica-publica" class="nav-link">POLÍTICA PÚBLICA</a>
    </nav>

  </div>
</header> 